# requirements.txt

neo4j==5.9.0
networkx==3.1


openai>=1.0.0
pinecone>=3.0.0

python-dotenv
tqdm
httpx


pyvis==0.3.1


fastapi
uvicorn[standard]

redis

flashrank

python-jose[cryptography]  
passlib[bcrypt]            
python-multipart
email-validator


bcrypt
